<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Đăng nhập vào hệ thống</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="" />
</head>

<body>
<section class="row w-100 m-0" layout:fragment="content">
    <div class="offset-md-2 mt-4 col-xs-12 col-sm-12 offset-0 col-12 col-md-8 col-lg-4 offset-lg-4 w-100">
        <form method="post" th:object="${account}">
            <div class="card">

                <div class="card-header">
                    <img th:src="@{/static/images/logo2.png}" width="20%" alt="" />
                    <span class="h4">Đăng nhập vào PTITFOOD</span>
                </div>
                <div class="card-body">
                    <div th:if="${loginFailed !=null}" class="alert alert-danger" role="alert">
                        <span th:text="${loginFailed.toString()}">
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input th:field="*{username}" type="text" class="form-control" name="username" id="username"
                               aria-describedby="usernameHid" placeholder="Enter username" />
                        <small th:if="${#fields.hasErrors('username')}" id="usernameHid" class="text-danger form-text text-muted">
                            <span style="color: red">Username is invalid</span>
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input th:field="*{password}" type="password" class="form-control" name="password" id="password"
                               aria-describedby="passwordHid" placeholder="Enter password" />
                        <small th:if="${#fields.hasErrors('password')}" id="passwordHid" class="form-text text-muted">
                            <span style="color: red">Password is invalid</span></small>
                    </div>
                    <div class="g-recaptcha col-sm-5 pl-0"
                         th:attr="data-sitekey=${@captchaSettings.getSite()}"
                         data-callback='onSubmit'
                         data-action="submit"
                    ></div>
                    <span id="captchaError" class="alert alert-danger col-sm-4"
                          style="display:none"></span>
                    <div th:if="${captchaFailed != '' && captchaFailed != null}" class="alert alert-danger" role="alert">
                        <i>Captcha không hợp lệ</i>
                    </div>
                    <div class="card-footer text-muted pl-0 pr-0">
                        <p class="text-right">
                            <a href="/auth/forgot-password" class="text-primary">Quên mật khẩu?</a>
                        </p>
                        <div class="">
                            <button type="submit" class="btn btn-primary w-100">
                                Đăng nhập
                            </button>
                        </div>
                        <div class="mt-2">
                            <p class="text-center">Bạn chưa có tài khoản?
                                <a href="/auth/register" class="">
                                    Đăng ký
                                </a>
                            </p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a href="/auth/login/google" class="btn btn-danger">
                                <i class="fab fa-google mr-1"></i>Đăng nhập bằng Google
                            </a>
                        </div>


                    </div>
                </div>
<!--                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
            </div>
        </form>
    </div>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>