<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/admin/dashBoardLayout}">

<head>
  <meta charset="UTF-8">
  <title th:text="${producer.getName()}"></title>
</head>

<body>
<section class="content" layout:fragment="content">
  <div class="col mt-4">
    <form th:action="@{/admin/producers/edit/{id}(id=${producer.getId()})}" method="post" th:object="${producer}">
      <div class="card">
        <div class="card-header">
          <h2 th:text="${producer.getName()}"></h2>
        </div>
        <div class="card-body">
          <div th:if="${message != null}" class="alert alert-danger" role="alert">
            <i>[[${message}]]</i>
          </div>
          <div class="row mb-4">
            <div class="col-2">
              <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" name="id" id="id" th:value="${producer.getId()}"
                                               aria-describedby="idHid" placeholder="Mã nhà cung cấp..." readonly th:field="*{id}" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="name">Tên</label>
                <input type="text" name="name" id="name" th:value="${producer.getName()}" placeholder="Tên nhà cung cấp..." class="form-control" />
                <!--                                <small th:if="${#fields.hasErrors()}" id="nameHip" class="form-text text-muted"><span-->
                <!--                                        th:errors="*{}" style="color: red"></span></small>-->
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label for="status">
                  Trạng thái
                </label>
                <div class="input-group mb-3">
                  <select class="custom-select" id="status" name="status">
                    <option th:selected="${producer.getStatus() == 1}" value="1">Hoạt động</option>
                    <option th:selected="${producer.getStatus() == 2}" value="2">Không hoạt động</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="code">Code</label>
                <input type="text" th:value="${producer.getCode()}" name="code" id="code" placeholder="Code nhà cung cấp..." class="form-control" />

              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="keyword">Keyword</label>
                <input type="text" th:value="${producer.getKeyword()}" name="keyword" id="keyword" placeholder="Keywork nhà cung cấp..." class="form-control" />
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer text-muted">
          <button type="reset" class="btn btn-secondary">Reset</button>
          <button class="btn btn-primary">
            <i class="fas fa-save"></i>
            <span th:if="${producer.isEdit}">Cập nhập</span>
            <span th:unless=" ${producer.isEdit}">Lưu</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
</body>

</html>