<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/admin/dashBoardLayout}">

<head>
  <meta charset="UTF-8">
  <title th:text="${product.getName()}"></title>
</head>

<body>
<section class="content" layout:fragment="content">
  <div class="col mt-4">
    <form th:action="@{/admin/products/edit/{id}(id=${product.getId()})}" method="post" th:object="${product}">
      <div class="card">
        <div class="card-header">
          <h2 th:text="${product.getName()}"></h2>
        </div>
        <div class="card-body">
          <div th:if="${message != null}" class="alert alert-danger" role="alert">
            <i>[[${message}]]</i>
          </div>
          <div class="row mb-4">
            <div class="col-2">
              <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" name="id" id="id" th:value="${product.getId()}"
                                               aria-describedby="idHid" placeholder="Mã nhà cung cấp..." readonly th:field="*{id}" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="name">Tên</label>
                <input type="text" name="name" id="name" th:value="${product.getName()}" placeholder="Tên nhà cung cấp..." class="form-control" />
              </div>

            </div>
            <div class="col-4">

              <div class="form-outline">
                <label class="form-label" for="alias">Tên</label>
                <input type="text" name="alias" disabled id="alias" th:value="${product.getAlias()}" placeholder="Tên nhà cung cấp..." class="form-control" />
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="price">Giá</label>
                <input type="text" name="price" id="price" th:value="${product.getPrice()}" placeholder="Giá..." class="form-control" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="priceSale">Giá khuyến mãi</label>
                <input type="text" name="priceSale" id="priceSale" th:value="${product.getPriceSale()}" placeholder="Giá khuyến mãi..." class="form-control" />
                </div>
            </div>
          </div>

          <div class="row mb-4">
              <div class="col-6">
              <div class="form-outline">
                  <label class="form-label" for="number">Số lượng trong kho</label>
                  <input type="text" name="number" id="number" th:value="${product.getNumber()}" placeholder="Số lượng..." class="form-control" />
              </div>
              </div>
              <div class="col-6">
                <div class="form-outline">
                  <label class="form-label" for="numberBuy">Số lượng bán</label>
                  <input type="text" name="numberBuy" id="numberBuy" th:value="${product.getNumberBuy()}" placeholder="Số lượng..." class="form-control" />
                </div>
              </div>
          </div>

          <div class="row mb-4">
            <!--          Danh mục              -->
            <div class="col">
              <div class="form-outline">
                <label for="catId">
                  Danh mục sản phẩm
                </label>
                <div class="input-group mb-3">
                  <select class="custom-select" id="catId" name="catId">
                    <option value="0">Chọn danh mục</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${product.getCatId() != null && product.getCatId() == category.getId()}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>

            <!--          Nhà cung cấp              -->
            <div class="col">
              <div class="form-outline">
                <label for="producerId">
                  Nhà cung cấp
                </label>
                <div class="input-group mb-3">
                  <select class="custom-select" id="producerId" name="producerId">
                    <option value="0">Chọn nhà cung cấp</option>
                    <option
                            th:each="producer : ${producers}"
                            th:value="${producer.id}"
                            th:text="${producer.name}"
                            th:selected="${product.getProducerId() != null
                            && product.getProducerId() == producer.getId()}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="detail">Chi tiết</label>
                <textarea class="form-control" name="detail" id="detail" rows="3" placeholder="Chi tiết..."
                            th:text="${product.getDetail()}"></textarea>

              </div>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <div class="form-outline">
                <label for="status">
                  Trạng thái
                </label>
                <div class="input-group mb-3">
                  <select class="custom-select" id="status" name="status">
                    <option th:selected="${product.getStatus() == 1}" value="1">Hoạt động</option>
                    <option th:selected="${product.getStatus() == 2}" value="2">Không hoạt động</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer text-muted">
          <button type="reset" class="btn btn-secondary">Reset</button>
          <button class="btn btn-primary">
            <i class="fas fa-save"></i>
            <span th:if="${product.isEdit}">Cập nhập</span>
            <span th:unless=" ${product.isEdit}">Lưu</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
</body>

</html>