<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .nav-item {
        padding: 0 !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div th:fragment="nav" class="sticky-top" >
      <nav
        class="navbar navbar-expand-sm navbar-light sticky-top bg-light"
      >
        <a class="navbar-brand" href="#">
			<img id="image-1" alt=""  width="50px" src="/static/images/logo2.png"/>
		</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/customers}"
                >Khách hàng</a
              >
            </li>
            <li  sec:authorize="hasAuthority('ADMIN')" class="nav-item">
              <a class="nav-link" th:href="@{/admin/products}"
                >Sản phẩm</a
              >
            </li>
            <li  sec:authorize="hasAuthority('ADMIN')" class="nav-item">
              <a class="nav-link" th:href="@{/admin/categories}"
              >Danh mục</a>
            </li>
            <li  sec:authorize="hasAuthority('ADMIN')" class="nav-item">
              <a class="nav-link" th:href="@{/admin/producers}"
              >Nhà cung cấp</a
              >
            </li>
            <li  sec:authorize="hasAuthority('ADMIN')" class="nav-item">
              <a class="nav-link" th:href="@{/admin/discounts}"
              >Discount</a
              >
            </li>
            <li  sec:authorize="hasAuthority('ADMIN')" class="nav-item">
              <a class="nav-link" th:href="@{/admin/orders}"
              >Orders</a
              >
            </li>
          </ul>
          <div class="navbar-text">
            <span sec:authentication="name"></span>
            <span sec:authentication="principal.authorities">Roles</span>
          </div>
          <div class="navbar-text ml-2">
<!--            <div sec:authorize="isAuthenticated()">-->
<!--              -->
<!--            </div>-->
          </div>
          <div class="my-2 my-lg-0">
            <!--                    logout -->
            <form th:action="@{/auth/logout}" method="post">
              <button type="submit" class="btn my-2 my-sm-0 bg-transparent">
                <img src="/static/images/logout.png" alt="logout" style="height: 16px; width: 16px;">
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
